:root {
  --base-color: #1E293B
}

body {
  background-color: #0e1425;
  @apply text-3xl text-white overflow-x-hidden font-sans
}

.app {
  @apply max-w-6xl mx-auto
}

.palette-card {
  transition: 0.4s;
  border: 1px solid #424242;
  background-color: var(--base-color);
  user-select: none;
  @apply relative w-[400px] flex items-center justify-center h-[80vh] rounded-xl;
}

.palette-card:hover {
  background-color: #0a0a0a;
  cursor: pointer;
  border: 1px solid rgb(218, 218, 218);
}

.hide {
  @apply hidden
}


.palette-card:hover > .hide {
  @apply block
}

.palette-card:last-child:hover > .hide {
  @apply hidden
}


.btn {
  transition: 0.3s;
  background-color: #0a0a0a;
  border-radius: 9999px;
  border: 1px solid #424242;
  font-size: 18px;
  padding: 0.2rem 1rem;
}

.btn:hover {
  background-color: var(--base-color);
  border: 1px solid rgb(177, 177, 177);
}

.btn-merge {
  transition: 0.3s;
  background-color: #0a0a0a;
  border-radius: 9999px;
  border: 1px solid #424242;
  font-size: 18px;
  padding: 0.2rem 1rem;
  position: absolute;
  right: -25px;
  padding: .5rem 1rem;
  z-index: 1;
  margin: 10rem 0;
}

.btn-del {
  transition: 0.3s;
  color: #8b8b8b;
  @apply absolute top-[45px]
}

.btn-del:hover {
  color: #fff;
}

.btn-merge:hover {
  background-color: #1a1a1a;
  border: 1px solid rgb(177, 177, 177);
}

.btn-disable {
  color: #464646;
  border-radius: 9999px;
  border: 1px solid #424242;
  font-size: 18px;
  padding: 0.2rem 1rem;
}
